.cooccurrence svg {
  font: 10px sans-serif;
  display: block;
  margin: 0px auto;
}

.cooccurrence .background {
  fill: #eee;
}

.cooccurrence line {
  stroke: #fff;
}

.cooccurrence text.active {
  fill: red;
}

.cooccurrence .axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.cooccurrence .option-bar {
  margin-top: 20px;
}

.cooccurrence .rowspan {
  margin-top: 20px;
}
